*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Paleta de colores
D9D9D9
FF7B5E
*/

/*fuentes
font-family: 'Habibi', serif;
font-family: 'Roboto', sans-serif;
*/




/*header*/

header {
background-color: white;
padding: 1.5rem;
}

.containerHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



nav{
    width: 80%;
}

.navBar{
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: space-evenly;
}

.navBar li a {
    color: black;
    font-size: 25px;
    text-decoration: none;
}

.navBar li a:hover{
    color:red;
    font-size: 24px;
}

.logo   {
    width: 30px;
}


/*Sección principal*/

.contenidoPrincipal h1{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.contenidoPrincipal h2{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: -2rem 0.5rem 0.5rem 0.5rem;
}

.imagenRedonda { 
    border-radius: 60%;
    width: 200px;
    height: 200px;
    object-fit: none;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    margin: 5px;
}



.sectionPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF7B5E;
    height: 300px;
    padding: 60px;
}

p{
    font-family: habibi, sans-serif;
    font-size: 15px;
    margin: 20px;
    display: flex;
    text-align: center;
}


/*Sección de Artículos*/



.sectionArticulos{
background-color:  #D9D9D9;
display: flex;
gap: 20px;
padding: 20px;
}

.tituloArticulo{ 
    font-family: habibi, sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 20px
}

.containerArticulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenArticulo{
    height: 300px;
    width: 100%;
    padding: 20px;
    border: 10px solid;
    object-fit: none
    
}


.textoArticulo{
    text-align: left;
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 30px;
}





/*Archivo*/

.containerArchivo{
    background-color: #FF7B5E;
    font-family: habibi, sans-serif;
    font-size: 42px;
    width: 100%;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    grid-template-areas: 
    "item1 item1 item2"
    "item3 item3 item4"
    "item5 item5 item6"
    ;
}

.grid-1{
    grid-area: item1;
}
.grid-2{
    grid-area: item2;
}
.grid-3{
    grid-area: item3;
}
.grid-4{
    grid-area: item4;
}
.grid-5{
    grid-area: item5;
}
.grid-6{
    grid-area:item6;
}






/*Contacto*/

.contenedorContacto{
    padding: 100px;
    border: solid;
    justify-content: center;
    align-items: center;
}

.comonosEncontraste{
    padding: 2rem 1rem;
    margin-top: 2rem;
    border:solid;
}



/*Curso y talleres*/
.cursoImagen{
    display: flex;
    justify-content: center;
}
.tituloCurso{
    display: flex;
    justify-content: center;
}


/*Footer*/



footer{
background-color: #FF7B5E;  
}
.footerContainer{
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: space-evenly;
}

.footerContainer p{
    text-align: center;
}

.logoInsta {
    margin-top: auto;
    margin-bottom: auto;
}

@media (max-width:768px){
    .navBar li a {font-size: 15px;}
    .sectionPrincipal{height: 200px;}
    .contenidoPrincipal h1 {font-size: 30px;}
.containerArchivo {font-size: 15px; height: 50px;} 

}



@media (max-width:320){
    .navBar li a {font-size: 5px;}
}
